<connectionStrings>
  
  <add name="PatientControlDev" connectionString="server=.\SQLEXPRESS;database=PatientControl;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>

  <!-- acklen avenue server -->
  <!--
  <add name="Huddle" connectionString="Server=e2636777-4921-468a-abdf-a21b018989f4.sqlserver.sequelizer.com;Database=dbe26367774921468aabdfa21b018989f4;User ID=waiohgontnolrofd;Password=kMGxYKAJ8c22AYDKkJnZXJyRiSJp6kRzkXCHKczqGTHpvRe4a5qgwurHnXofbkMV;" providerName="System.Data.SqlClient"/>
  <add name="Search" connectionString="Server=03770a02-fa2e-47a6-a4fc-a22a0140a158.sqlserver.sequelizer.com;Database=db03770a02fa2e47a6a4fca22a0140a158;User ID=ejqgmjrvmgyqqawg;Password=ptAicRj58u5CoT6fzncuoYVtkXvgWjxQCrvTRPjBmRpjzmKSr2nz8GbyEg7mvcgW;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  -->
  
  
</connectionStrings>